<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="4" name="Test" parallel ="classes" >       <!-- parallel ="classes" -->
    <classes>  
      <class name="com.SauceDemo.TestClasses.TC001LoginFunctionalityWithTestNG"/>
      <class name="com.SauceDemo.TestClasses.TC006SingleProductTestNG"/>
      <class name="com.SauceDemo.TestClasses.TC004CheckoutTestNHG"/>
      <class name="com.vctcpune.TestClasses.BaseClassTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->